.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1.2rem;
    background-color: $gray-400;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);

    .card-title {
        @include link-hover($primary-color);
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        margin-right: auto;
    }

    .card-inner-wrapper {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .title-wrapper {
        display: flex;
        align-items: center;
    }

    .favorite {
        margin-left: 2rem;
    }

    .card-img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .img-wrapper {
        max-height: 34rem;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .bi-image {
            font-size: 10rem;
            padding-top: 4rem;
        }
    }
    .edit-button {
        @include link-hover($primary-color);
        margin-left: 2rem;
    }
}