$primary-color: #FF9C0D;
$secondary-color: #FFDBA9;
$tertiary-color: #FFDBA9;
$secondary-color: #FFDBA9;

// grey scale colors
$gray-500: #CACACA;
$gray-800: #313131;

$white: #FFFFFF;

// bg and text colors
$background-color: #ECECEC;
$text-color: $gray-800;

// semantic colors
$success-color: #8FBF26;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;